<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Hi</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
   <script src="main.js"></script>
</head>
<body>
 
1. firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
         console.log(user.email);
      } else {
            console.log('No user is signed in.');
         }
      }) 

2. firebase.auth().signOut().then(function() {
   console.log('succ. log');
   }).catch(function(error) {
   // An error happened.
   });
</body>
</html>


mobiles navigation
<v-card color="grey lighten-4" flat height="200px" tile>
   <v-toolbar dense>
   <v-toolbar-side-icon></v-toolbar-side-icon>
   <v-toolbar-title>Title</v-toolbar-title>
   <v-spacer></v-spacer>
   <v-btn icon>
      <v-icon>search</v-icon>
   </v-btn>
   <v-btn icon>
      <v-icon>favorite</v-icon>
   </v-btn>
   <v-btn icon>
      <v-icon>more_vert</v-icon>
   </v-btn>
   </v-toolbar>
</v-card>