.material-icons  {
   font-size: 23px !important;
}
.alwaysSignCHECK .material-icons {
   margin-left: 5px !important;
   font-size: 17px !important;
   margin-top: -10.5px !important;
   /* height: 40px !important; */
}
.alwaysSignCHECK label  {
   margin-top: -28px !important;
   font-size: 14px !important;
}
.txt13 {
   font-size:13px !important;
}
.textDefault {
   text-transform: none !important;
}
.textfm1 {
   font-family: 'Overlock', cursive;
}

.jieLandingBg {
   background-image: url("/imgs/proto-background-nuanced.svg");
   background-position: center;
   background-size: cover;
}
.jieLandingBg2 {
   background-image: url("/imgs/background-pricing-existing.svg");
   background-position: center;
   background-size: cover;
}
.jieSvgBg1 {
   background-image: url("/imgs/background-main-light.svg");
   background-position: center;
   background-size: cover;
}
/* Upper toolbar Search Input */
.jie .v-input__control   {
   margin-top:8px;
   min-height:0px !important;
   padding: 10px !important;
}

.jie .v-input__slot   {
   border-radius:2px;
   -webkit-transition: width 2s; /* Safari */
   transition: width .2;
}

.jie .v-label {
   color: rgba(0,0,0,0.54) !important;
   font-size: 12px !important;
}
.jie .v-icon {
   color: rgba(0,0,0,0.54) !important;
   font-size: 17px !important;
}
/* Exit Upper toolbar Search Input */


