.material-icons  {
   font-size: 23px !important;
}
.alwaysSignCHECK .material-icons {
   margin-left: 5px !important;
   font-size: 17px !important;
   margin-top: -10.5px !important;
   /* height: 40px !important; */
}
.alwaysSignCHECK label  {
   margin-top: -28px !important;
   font-size: 14px !important;
}
.txt13 {
   font-size:13px !important;
}

.aJie {
   text-decoration: none !important ;
   cursor: pointer !important;
}

.aJie:hover{
   text-decoration: underline !important ;
   color: #2196F3;
}

.textDefault {
   text-transform: capitalize !important;
}
.textlower {
   text-transform: lowercase !important;
}  
.textupper {
   text-transform: uppercase !important;
}  
.textfm1 {
   /* font-family: 'Open Sans', sans-serif; */
   font-family: 'Source Sans Pro', sans-serif;
}
.textfm2 {
   font-family: 'Overlock', cursive;
}

.jieLandingBg {
   background-image: url("/imgs/proto-background-nuanced.svg");
   background-position: center;
   background-size: cover;
}
.jieLandingBg2 {
   background-image: url("/imgs/background-pricing-existing.svg");
   background-position: center;
   background-size: cover;
}
.jieSvgBg1 {
   background-image: url("/imgs/background-main-light.svg");
   background-position: center;
   background-size: cover;
}
/* Upper toolbar Search Input */
.jie .v-input__control   {
   margin-top:8px;
   min-height:0px !important;
   padding: 10px !important;
}

.jie .v-input__slot   {
   border-radius:2px;
   -webkit-transition: width 2s; /* Safari */
   transition: width .2;
}

.jie .v-label {
   color: rgba(0,0,0,0.54) !important;
   font-size: 12px !important;
}
.jie .v-icon {
   color: rgba(0,0,0,0.54) !important;
   font-size: 17px !important;
}

.jie3 .v-input__control   {
   margin-left:-8px;
   margin-top:8px;
   min-height:0px !important;
   padding: 10px !important;
}

.jie3 .v-input__slot   {
   border:1px solid #E0E0E0 !important;
   border-radius:20px !important;
   -webkit-transition: width 2s; /* Safari */
   transition: width .2;
}

.jie3 .v-text-field__details   {
   margin-bottom: -18px !important;
}

.jie3 .v-messages__message   {
   font-family: 'Source Sans Pro', sans-serif;
   font-size:10px !important;
   margin-top:-1px !important;
}


.jie3 .v-label {
   color: rgba(0,0,0,0.54) !important;
   font-size: 12px !important;
}
.jie3 .v-icon {
   color: rgba(0,0,0,0.54) !important;
   font-size: 17px !important;
}

.jie3Commented {
   font-size:13px;
   padding: 6px !important;
   display: inline-block;
   border-radius: 20px !important;
   background-color: #EEEEEE;
   /* border: 1px solid #E0E0E0; */
}

.searchfriend .v-icon {
   color: #BDBDBD !important;
   font-size: 16px !important;
}
.searchfriend .v-input__control   {
   min-height:35px !important;
}
/* Exit Upper toolbar Search Input */

/* leftNavbar */
.jieleftNav .v-btn__content   {
   justify-content: left !important
}

/* ne1sFeed */
.newsfeedScroll {
   overflow-x:hidden;
   overflow-y:scroll;
}
.newsfeedScroll:hover{
   overflow-y:scroll;
}

/* newsFeed exit */

/* left friend list */

.friendscroll {
   overflow-x:hidden;
   overflow-y:hidden;
   height:112% !important;
}
.friendscroll:hover{
   overflow-y:auto;
}
.scrollbar-primary::-webkit-scrollbar{
   width: 5px !important;
   /* height: 10px !important; */
   /* padding-top: 40px !important; */
}

.scrollbar-primary::-webkit-scrollbar-track{
   /* -webkit-box-shadow: inset 0 0 1px #EDE7F6;
   border: 1px solid #EDE7F6;
   background: #EDE7F6; */
   border-radius: 10px;
}
.scrollbar-primary::-webkit-scrollbar-thumb{
   border-radius:10px;
   height: 30px;
   width: 8px;
   background: #21212169;
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.scrollbar-secondary::-webkit-scrollbar{
   width: 4px !important;
   /* height: 10px !important; */
   /* padding-top: 40px !important; */
}

.scrollbar-secondary::-webkit-scrollbar-track{
   /* -webkit-box-shadow: inset 0 0 1px #EDE7F6;
   border: 1px solid #EDE7F6;
   background: #EDE7F6; */
   border-radius: 10px;
}
.scrollbar-secondary::-webkit-scrollbar-thumb{
   border-radius:10px;
   height: 30px;
   width: 8px;
   /* background: #21212130; */
   background: transparent;
   /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.71); */
}
/* 757575 */

.jieBadge .v-badge__badge {
   margin-right:3px !important;
   margin-top:6px !important;
   height:18px !important;
   width:18px !important;
}
.jieBadgeFriend .v-badge__badge {
   margin-right:15px !important;
   margin-top:29px !important;
   height:10px !important;
   width:10px !important;
}
.jieBadgeFriendMessage .v-badge__badge {
   margin-right:15px !important;
   margin-top:63px !important;
   height:15px !important;
   width:15px !important;
}
.jieBadgeNews .v-badge__badge {
   margin-right:17px !important;
   margin-top:35px !important;
   height:12.5px !important;
   width:12.5px !important;
}

.scrollbar-danger::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-danger::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-danger::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #ff3547; }

.scrollbar-warning::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-warning::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-warning::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #FF8800; }

.scrollbar-success::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-success::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-success::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #00C851; }

.scrollbar-info::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-info::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-info::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #33b5e5; }

.scrollbar-default::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #F5F5F5;
border-radius: 10px; }

.scrollbar-default::-webkit-scrollbar {
width: 12px;
background-color: #F5F5F5; }

.scrollbar-default::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
background-color: #2BBBAD; }


   
/* left friend list */

/* home */
.jiew.v-text-field--solo .v-input__slot  {
   background: transparent !important;
}
.newslineHeight.v-textarea textarea {
   line-height:30px !important;
}

.jieToolHeart {
   margin-top: 9px;
   border-radius: 4px !important;
}
.jieTool {
   margin-top:-8px;
   border-radius: 4px !important;
}

  /* position: absolute;
   background-image: url("https://abs.twimg.com/a/1533755696/img/animations/web_heart_animation_edge.png") ;
   background-position: right;
   background-repeat: no-repeat;
   background-size: 2900%;
   height: 50px;
   width: 50px;
   left: 50%;
   top: 50%;
   -ms-transform: translate(-50%,-47.5%);
   transform: translate(-50%,-47.5%); */

.heartLeft{
  position: absolute;
   background-image: url("https://abs.twimg.com/a/1533755696/img/animations/web_heart_animation_edge.png") ;
   background-repeat: no-repeat;
   background-size: 2900%;
   height: 50px;
   width: 50px;
   left: 50%;
   top: 50%;
   -ms-transform: translate(-50%,-47.5%);
   transform: translate(-50%,-47.5%);
}
.heartLeft:hover{
   background-position: 3.571428571428571%
}

.heartRight{
   position: absolute;
    background-image: url("https://abs.twimg.com/a/1533755696/img/animations/web_heart_animation_edge.png") ;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 2900%;
    height: 50px;
    width: 50px;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-47.5%);
    transform: translate(-50%,-47.5%);
 }


.heartFav{
   position: absolute;
   background: url("https://abs.twimg.com/a/1533755696/img/animations/web_heart_animation_edge.png");
   animation: play 1s steps(28) forwards  ;
   background-size: 2900%;
   height: 50px;
   width: 50px;
   left: 50%;
   top: 50%;
   -ms-transform: translate(-50%,-47.5%);
   transform: translate(-50%,-47.5%);
   /* infinite */
 }

@keyframes play {
   /* from { background-position:    0px; } */
   100% { background-position: -2800px; }
}
.Heartbtn{
   color:#657786 !important;
}
.Heartbtn:hover{
   color: #e0245e !important;
}
.Heartbtn.v-btn::before{
   opacity: 0;
}
.HeartbtnActive{
   color: #e0245e !important;
}
.HeartbtnActive.v-btn::before{
   opacity: 0;
}
