
@import '~vuetify/src/stylus/main';
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');
@import url("https://fonts.googleapis.com/css?family=Overlock");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
html {  
   overflow-y: auto;
   // font-family: 'Helvetica 35 Thin';
   // font-weight: normal;
   // font-size: 42px;
}

// html::-webkit-scrollbar{
//    width: 0px !important;
//    /* height: 10px !important; */
//    /* padding-top: 40px !important; */
// }

// html::-webkit-scrollbar-track{
//    /* -webkit-box-shadow: inset 0 0 1px #EDE7F6;
//    border: 1px solid #EDE7F6;
//    background: #EDE7F6; */
//    border-radius: 10px;
// }
// html::-webkit-scrollbar-thumb{
//    border-radius:10px;
//    height: 30px;
//    width: 8px;
//    /* background: #21212169; */
//    background: #BDBDBD;
//    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
// }

// Source Sans Pro,Open Sans,arial,verdana,lucida sans unicode,tahoma,sans-serif
