// html {
//    overflow-y: auto;
//    color: #212121;
//    font: 900 16px/24px Roboto,sans-serif;
//    font-style: normal;
//    font-variant-ligatures: normal;
//    font-variant-caps: normal;
//    font-variant-numeric: normal;
//    font-variant-east-asian: normal;
//    font-weight: 400;
//    font-stretch: normal;
//    font-size: 16px;
//    line-height: 24px;
//    font-family: Roboto, sans-serif;
//    -moz-osx-font-smoothing: grayscale;
//    -webkit-font-smoothing: antialiased;
//    margin: 0;
//    -webkit-text-size-adjust: 100%;
//    -ms-text-size-adjust: 100%;
//    text-size-adjust: 100%;
// }

// .application.theme--light .text--primary {
//   color: #757575 !important;
// }
// .application.theme--light .text--secondary {
//   color: #414141 !important;
// }
// .application.theme--light .text--disabled {
//   color: rgba(0,0,0,0.38) !important;
// }
@import '~vuetify/src/stylus/main';
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');
@import url("https://fonts.googleapis.com/css?family=Overlock");

html {  
   overflow-y: auto;
   // font-family: 'Overlock', cursive;
   font-family: 'Aref Ruqaa', serif !important;
   // color: #212121 !important;
}

/* width */
// ::-webkit-scrollbar {
//     width: 8px;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     background: #f1f1f1; 
// }
 
// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: #888; 
// }

// /* Handle on hover */
// ::-webkit-scrollbar-thumb:hover {
//     background: #555; 
// }
