
@import '~vuetify/src/stylus/main';
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa');
@import url("https://fonts.googleapis.com/css?family=Overlock");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
html {  
   overflow-y: auto;
   font-family: 'Source Sans Pro', sans-serif;
   // // font-family: 'Overlock', cursive;
   // font-family: 'Aref Ruqaa', serif !important;
   // color: #212121 !important;
}
// Source Sans Pro,Open Sans,arial,verdana,lucida sans unicode,tahoma,sans-serif
